<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>MY.DROPSHIPING</title>
    <link rel="stylesheet" href="../css/ppto.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="icon" href="../images/logo.ico.ico">
      </head>
      <body>
        <header>
          <div class="logo">
            <a href="#"><img src="../images/logo11.png.png" alt="logo"></a>
        </div>
          <nav>
            <ul>
              <li><a href="../index.html">Inicio</a></li>
              <li><a href="Productos.html">Productos</a></li>
              <li><a href="#">Presupuesto</a></li>
              <li><a href="Contacto.html">Contacto</a></li>
            </ul> 
          </nav>
        </header>
        <main>
          <div class="container">
            <h1>Solicitud de Presupuesto</h1>
            <form action="#" method="POST">
                <div class="form-group">
                  <label for="nombre">Nombre:</label>
                    <input type="text" placeholder="Escriba su nombre" pattern="[A-Za-z]{2,10}{*}"required>
                </div>
                <div class="form-group">
                    <label for="email">Correo Electrónico:</label>
                    <input type="email" id="email" placeholder="Escriba su mail" name="email" required>
                </div>
                <div class="form-group">
                    <label for="telefono">Teléfono:</label>
                    <input type="tel" id="telefono" placeholder="Escriba su telefono" 
                    name="telefono">
                </div>
                <div class="form-group">
                    <label for="mensaje">Solicite mas informacion :</label>
                    <textarea id="mensaje" name="mensaje" rows="4" cols="50" patern="[A-Za-z]{50}"> </textarea> 
                </div>
                <button type="submit">Enviar Solicitud</button>
            </form>
        </div>

        </main>
<hr>
        <footer>
          <div class="direccion">
            <p> <h3>Direccion: Rua Travesia de vigo 71, Vigo España </h3>
              <h3>Telefono: 34-23564578</h3>
              <h3>Correo: mvidal@mdropshiping.com</h3></p>
          </div>
          <div class="aviso-legal">
            <p><h4>Aviso legal: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. 
              Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.</h4></p>
          </div>
        
        </footer>
    </body>
    </html>