<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>MY.DROPSHIPING</title>
    <link rel="stylesheet" href="../css/productos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="icon" href="../images/logo.ico.ico">
      </head>
      <body>
       <header>
          <div class="logo">
            <a href="#"><img src="../images/logo11.png.png" alt="logo"></a>
        </div>
          <nav>
            <ul>
              <li><a href="../index.html">Inicio</a></li>
              <li><a href="#">Productos</a></li>
              <li><a href="Presupuesto.html">Presupuesto</a></li>
              <li><a href="Contacto.html">Contacto</a></li>
            </ul>
          </nav>
        </header>
        <main>
          <div class="container">
            <h1>Nuestros productos</h1>
            <div class="product-gallery">
                <div class="product">
                    <img src="../images/foto1.jpg" alt="Producto 1">
                    <h2>Loncheras de Camping</h2>
                    <p>$50 EU</p>
                    
                    <a href="#">Comprar</a> 
                </div>
                <div class="product">
                    <img src="../images/foto2.jpg" alt="Producto 2">
                    <br>
                    <br>
                    <br>
                    <h2>Lonchera work-office</h2>
                    <p>$60 EU</p>
                  
                    <a href="#">Comprar</a> 
                </div>
                <div class="product">
                    <img src="../images/foto3.jpg" alt="Producto 3">
                    <h2>Kid Lonchera</h2>
                      <p>45 EU</p>
                      <a href="#">Comprar</a> 
                </div>
                <div class="product">
                    <img src="../images/foto4.jpg" alt="Producto 4">
                    <h2>Loncheras tipo taper</h2>
                    <p>$55 EU</p>
                    <a href="#">Comprar</a> 
                </div>
                <div class="product">
                    <img src="../images/foto5.jpg" alt="Producto 5">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <h2>Lonchera Express</h2>
                    <p>$10 EU</p>
                    <br>
                
                
                    <a href="#">Comprar</a> 
                </div>
                <div class="product">
                    <img src="../images/foto6.jpg" alt="Producto 6">
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <h2>Loncheras breakfast</h2>
                    <p>$15 EU</p>
                  
                    <a href="#">Comprar</a> 
                </div>
            </div>
        </div>
        </main>
        <hr>
        <footer>
          <div class="direccion">
            <p> <h3>Direccion: Rua Travesia de vigo 71, Vigo España </h3>
              <h3>Telefono: 34-23564578</h3>
              <h3>Correo: mvidal@mdropshiping.com</h3></p>
          </div>
          <div class="aviso-legal">
            <p><h4>Aviso legal: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non risus. 
              Suspendisse lectus tortor, dignissim sit amet, adipiscing nec, ultricies sed, dolor.</h4></p>
          </div>

        </footer>
    </body>
    </html>